<section>
        
         <form action="#">
             <div class="usrname">
                  <input type="text" placeholder="Username" ng-model="username">
             </div>
             <div class="usrname">
                  <input type="password" placeholder="password" ng-model="password">
             </div>
             <div class="usrname">
                <input type="email" placeholder="email" ng-model="email">
           </div>
           <div class="usrname">
            <input type="tel" placeholder="contact no" ng-model="contact">
           </div>
             <button ng-click="saveData()" type="button">Login</button>
         </form>
      </section>